.music-festival{
    background: url(../images/2024/bg.jpg) no-repeat, linear-gradient(#000000, #242424);
    background-size: contain;
    background-position: top center;
    min-height: 775px;
    text-align: center;
    color: white;
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
}

.music-festival .lead {
    font-size: 10rem;
    color: white;
    line-height: 1.15em;
}

.music-festival .information {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 550px;
    background-color: rgba(0,0,0, 0.7);
}

@media (max-width: 991px) {
    .music-festival {
        min-height: 275px;
        padding: 50px 0;
        padding-left: 0px; 
    }
    .music-festival .lead {
        font-size: 7rem;
    }
    .music-festival .information {
        max-width: 600px;
    }
}

@media (max-width: 376px) {
    .music-festival {
        min-height: 275px;
    }
    .music-festival .lead {
        font-size: 5rem;
    }
    .music-festival .information {
        max-width: 400px;
    }
}