header.steampunk{
    background: url(../images/2026/town.jpg) no-repeat, linear-gradient(#171716, #171716);
    background-size:auto;
    background-position: center right;
    padding-top: 20px;
    padding-left: 0px;
    min-height: 400px;
    text-align: center;
    color: white;
}

header .tagline {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 5px;
    text-shadow:#222 1px 1px 1px;
    font-size: 30px;
}

.steampunk {
    font-family: "Smythe", system-ui;
    font-weight: 400;
    font-style: normal;
}
header .lead {
    font-size: 120px;
    color: goldenrod;
    text-shadow:#222 1px 1px 1px;
}