/* TODO Question 3 e) - Font externe */
@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    src: url("../polices/Roboto-Regular-webfont.woff");
}
/* fin - Question 3 e) - Font externe */

header {
    /* TODO Question #2 ) - CSS - Afficher la bannière comme fond d'écran qui couvre tout le header */
    background: #181015 url(../images/header.png) no-repeat;
    background-size: cover;
    /* Fin - Question #2 b) - CSS */
    min-height: 420px;
    text-align: center;
    padding-top: 200px;
    color: white;
    font-family:Roboto, sans-serif; /* Question 3 f) - Font externe */
    font-weight: 300;
}

header.secondary {
    height: 100px;
    min-height: 100px;
    padding-top: 0px;
}

header .lead {
    font-size: 44px;
    margin-bottom: 6px;
    color: white;
    line-height: 1.15em;
}

header .tagline {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 25px;
}

header .tagline a {
    color: #fff;
}

header .btn {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    header {
        min-height: 320px;
        padding-top: 140px;
    }

    header .lead {
        font-size: 34px;
    }
}

.h-caption {
    text-align: center;
}

.h-caption i {
    display: block;
    font-size: 54px;
    color: #382526;
    margin-bottom: 36px;
}

.h-caption h4 {
    color: #382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}

footer {
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
}

footer .widget {
    margin-bottom: 30px;
}

footer .widget-title {
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}

footer .entry-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px 0;
    padding: 2px 0;
    color: #888888;
    font-size: 12px;
    font-size: 0.75rem;
}

footer .entry-meta a {
    color: #333333;
}

footer .entry-meta .meta-in {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.follow-me-icons {
    font-size: 30px;
}

.follow-me-icons i {
    float: left;
    margin: 0 10px 0 0;
}

aside {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

aside i {
    color: #f3dbdb;
    font-size: 50px;
}

aside i:hover {
    filter:drop-shadow(0px 1px 1px #222)
}